<!DOCTYPE html>
{% extends 'store/main.html' %}

{% load static %}
{% block content%}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/image.css' %}">

</head>
<body>

<main>
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Men</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Men's Sonoma Goods For Life® Supersoft Crewneck Tee

            <p class="price">$22.40</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/3910467_New_Black?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Stay in your comfort zone all day in this men's Sonoma Goods For Life crewneck t-shirt.




PRODUCT FEATURES
<ul>
Super soft fabric construction
Crewneck
Short sleeves
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(34 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>New Black</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

   <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Men</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Men's Sonoma Goods For Life® Supersoft Outdoor Tee

            <p class="price">$21.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5703027_Kagan_Khaki?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>You simply can't go wrong wearing these men's Sonoma Goods For Life everyday cargo shorts.



PRODUCT FEATURES
<ul>
Zipper fly
6-pocket
FIT & SIZING

Regular fit
Approximate 10-in. inseam
Flat front
</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Kagan khaki</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

<div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Men</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Men's Croft & Barrow® Easy-Care Pique Polo

            <p class="price">$210.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/3979888_Jester_Red?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Live a life of style. This men's Croft & Barrow polo lets you look your best 24/7.


PRODUCT FEATURES
<ul>
Easy-care fabric resists wrinkles
No-roll collar
Stretch fabric blend for comfortable movement
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(56 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Jester Red</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

 <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Men</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Men's Tek Gear® Performance Fleece Hoodie

            <p class="price">$210.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5008972_Mineral_Black?wid=600&hei=600&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>With a comfy fleece interior and sporty look, this Tek Gear men's hoodie is your next go-to layer.




PRODUCT FEATURES
<ul>
Ultra-soft fleece interior
Adjustable drawstring hood
Utility pocket with hidden zipper
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(65 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Mineral Black</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

<div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Women</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Women's Nine West French Terry Tulip-Hem Sheath Dress

            <p class="price">$34.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/3946927_Green_Heather?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Show off your casual and cool weekend warrior style with this graphic tee from Sonoma Goods For Life.




PRODUCT FEATURES
<ul>
Features outdoor-inspired graphic
Soft fabric construction
Crewneck
Short sleeves
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Green Heather
          </h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>


   <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Men</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Big & Tall Tek Gear® Performance Fleece Hoodie

            <p class="price">$210.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5018004_Mineral_Black?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>From the gym to running errands, this Tek Gear men's fleece hoodie is the perfect layer for your active life.

</p>



PRODUCT FEATURES
<ul>
<li>Performance fleece construction</li>
<li>Adjustable drawstring hood</li>
<li>Front kangaroo pocket with hidden zipper inside</li>
<li>Long sleeves</li>

<ul>

          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(59 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Black</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

  <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Men</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Men's Jockey® ActiveBlend® 4-Pack Boxer Briefs

            <p class="price">$15.99</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/4220965_Blue_Red_Navy_Gray?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>These men's mid-rise boxer briefs from Jockey feature a performance design for all-day comfort.

.


PRODUCT FEATURES
<ul>
STAYNEW® Technology reduces pilling, shrinking and fading
Moisture-wicking technology helps keep you dry and comfortable
Faux fly
4-pack
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(74 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Floral</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

   <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Men</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Men's Sonoma Goods For Life® 10-Inch Outdoor Flexwear Cargo Shorts

            <p class="price">$10.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5242921_Olive_Camo?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>These men's cargo shorts from Sonoma Goods for Life were made for casual outings.



PRODUCT FEATURES
<ul>
Zipper fly
Lightweight, breathable fabric
A bit of elastic in the waistband keeps you comfortable
6-pocket
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>OLIVE CAMO</h3>
          </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>


  </main>

</body>
</html>
{% endblock content %}