<!DOCTYPE html>
{% extends 'store/main.html' %}

{% load static %}
{% block content%}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/image.css' %}">

</head>
<body>

<main>
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Women</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Women's Nine West Dolman Sleeve Wrap Dress

            <p class="price">$22.40</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5563328_Dense_Floral?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Keep your look classic in this lovely women's dolman sleeve wrap dress from Nine West.


PRODUCT FEATURES
<ul>
Short dolman sleeve
V-neck
Tie waist detail
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(34 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Dense Floral</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

   <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Women</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Juniors' Rewind Button Front Flutter Sleeve Skater Dress

            <p class="price">$21.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5567280_Black_Daisies?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Sweet sophistication. This juniors' flutter sleeve skater dress from Rewind gives you a chic look you're sure to love.


PRODUCT FEATURES
<ul>
V-Neck
Flutter sleeves
Unlined

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Dense Floral</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>
<div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Women</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            Women's Nine West Flutter Sleeve Wrap Dress

            <p class="price">$210.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5280249_Floaty_Flowers_Yellow?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Add instant style to your closet with this women's dress from Nine West.
PRODUCT FEATURES
<ul>
Short flutter sleeves
Wrap styling
FABRIC & CARE
Polyester, spandex.
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(56 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Black Daisies</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>
 <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Women</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Women's Croft & Barrow® Pintuck Splitneck Sleeveless Top

            <p class="price">$210.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/4799269_Olive_Palm?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Whether you wear it alone or as a layering piece, you'll love the lightweight look and feel of this women's Croft & Barrow top.


PRODUCT FEATURES
<ul>
Pintuck details
Splitneck
Sleeveless
Lightweight challis construction
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(65 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Olive Palm</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

<div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Women</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Women's Nine West French Terry Tulip-Hem Sheath Dress

            <p class="price">$34.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5216689_Enlightened_Purple?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>You'll love the look of this women's ruched dress from Nine West.


PRODUCT FEATURES
<ul>
Short flutter sleeves
Wrap styling
FABRIC & CARE
Polyester, spandex.
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Enlightened Purple</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>


   <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Women</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Women's Nine West Faux-Wrap Midi Skirt

            <p class="price">$210.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5532220_Bronze?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>The flattering faux-wrap design makes this women's Nine West skirt a chic choice.


PRODUCT FEATURES
<ul>
Twist-front detail
Faux-wrap midi overlay
Mini underskirt
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(59 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Bronze</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

  <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Women</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Women's Croft & Barrow® Effortless Stretch Skort

            <p class="price">$15.99</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/3926073_Black?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Hidden undershorts and a stretchy cotton blend give this women's Croft & Barrow skort a lovely look.


PRODUCT FEATURES
<ul>
Attached undershorts & full skirt
Vented hem
2 front faux pockets

<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(74 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Floral</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

   <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Women</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Women's Sonoma Goods For Life® Crewneck Tee

            <p class="price">$10.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5484998_Yellow_Green?wid=600&hei=600&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>A better basic. You'll love wearing this women's tee from Sonoma Goods For Life.


PRODUCT FEATURES
<ul>
Crewneck
Short sleeves
Jersey construction
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Yellow Green</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>Women</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
Juniors SO Comfy Front Zip Hoodie


            <p class="price">$67.00</p>
          </div>
          <div class="image">
            <img src="https://media.kohlsimg.com/is/image/kohls/5585853_Berry_Magnolia?wid=1200&hei=1200&op_sharpen=1" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>Stay comfy and warm in this juniors' SO front-zip hoodie!


PRODUCT FEATURES
<ul>
Front zipper closure
Drop-shoulder
Hood with adjustable drawstrings
2 pockets
Ribbed cuffing
<ul>

</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(44 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Colors </p>
          <h3>Berry Magnolia</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    </div>

  </main>

</body>
</html>
{% endblock content %}